<h1>Enter email content</h1>
<form action='/result' method="POST">
Message Text: <input type="text" name="msg" placeholder="Enter email body."> 
<br>
<input type="submit" value="Send message">
</form>